<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h2><span class="fa fa-lock"></span> Sistema Versão 2.0</h2>
		<% if(user) { %>
			<p>Você está conectado! Usuário : <%= user.email %></p>
		<% } else { %>
			<p>Conecte-se com:</p>
			<a href="/signin" class="btn btn-default"><span class="fa fa-user"></span> Entrar no sistema</a>
		<% } %>
	</div>

</div>
</body>
</html>